/**
 * ----------------------------------------
 * globals
 * ----------------------------------------
 */
html {
  font-family: var(--font-raleway);
}

main {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  background: hsla(24, 86%, 78%, 1);

  background: radial-gradient(
    circle,
    hsla(24, 86%, 78%, 1) 0%,
    hsla(297, 44%, 76%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(24, 86%, 78%, 1) 0%,
    hsla(297, 44%, 76%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(24, 86%, 78%, 1) 0%,
    hsla(297, 44%, 76%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7BC95", endColorstr="#DAA8DD", GradientType=1 );
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant);
}

.header {
  padding: 3rem;
  .intro-splash {
    font-weight: bold;
    font-size: 6rem;
    line-height: 4.25rem;
    p {
      margin: 0;
    }
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 3rem;
      line-height: 2.25rem;
    }
  }

  .intro-paragraph {
    line-height: 1.5rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}

.image-carousel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 2rem 0;
  div {
    margin: 0 0.5rem;
  }
}
