/**
 * ----------------------------------------
 * globals
 * ----------------------------------------
 */
html {
  font-family: var(--font-raleway);
}

main {
  background: hsla(24, 86%, 78%, 1);
  background: radial-gradient(
    circle,
    hsla(24, 86%, 78%, 1) 0%,
    hsla(10, 79%, 75%, 1) 100%
  );
  background: -moz-radial-gradient(
    circle,
    hsla(24, 86%, 78%, 1) 0%,
    hsla(10, 79%, 75%, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    hsla(24, 86%, 78%, 1) 0%,
    hsla(10, 79%, 75%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7BC95", endColorstr="#F29F8F", GradientType=1 );
  height: 100vh;
  color: white;
  padding: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    flex-basis: 40vw;
  }

  .intro-splash {
    font-weight: bold;
    font-size: 3rem;
    p {
      margin: 0;
      line-height: 2.25rem;
    }
  }

  .intro-paragraph {
    line-height: 1.5rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
