.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  background-color: #fdfdfd;
  color: black;
  width: 100vw;
  div {
    width: 300px;
    line-height: 1.25rem;
    h1 {
      color: #daa8dd;
      font-size: 4rem;
    }
    p {
      font-size: 0.9rem;
      margin-left: 0.5rem;
    }
  }
}
