.footer {
  background-color: var(--mantine-color-black);
  border-top: rem(1px) solid;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.text {
  color: white;
  font-size: 0.75rem;
  width: 20vw;
  text-align: center;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 90vw;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}
